<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//Mybatis.org//DTD Mapper 3.0//EN" 
	"http://Mybatis.org/dtd/Mybatis-3-mapper.dtd">
<mapper namespace="com.lain.dao.HumitureMapper">

	<!-- HUMITURE_MANAGE -->

	<select id="findHumitureAddress" resultType="int">
		SELECT
		ehm_deviceAddress FROM en_humiture_manage WHERE di_id=#{diId}
	</select>
	<select id="findHumitureManageAll" resultType="com.lain.entity.HumitureManage">
		SELECT * FROM
		en_humiture_manage ehm,device_ip di WHERE ehm.di_id = di.di_id;
	</select>
	<insert id="insertHumitureManage" parameterType="com.lain.entity.HumitureManage"
		useGeneratedKeys="true">
		
		INSERT INTO
		en_humiture_manage (ehm_deviceAddress,ehm_deviceName,ehm_maxTem,ehm_minTem,ehm_maxHum,ehm_minHum,intervalTime,di_id)
		VALUES
		(#{ehmDeviceAddress},#{ehmDeviceName},#{ehmMaxTem},#{ehmMinTem},#{ehmMaxHum},#{ehmMinHum},#{intervalTime},#{diId})
	</insert>
	<delete id="deleteHumitureManageById">
		DELETE FROM en_humiture_manage WHERE ehm_id=#{ehmId}
	</delete>
	<update id="updateHumitureRealTimeData">
		UPDATE en_humiture_manage SET
		ehm_tem=#{ehmTem},ehm_hum=#{ehmHum} where ehm_deviceAddress=#{ehmDeviceAddress} and di_id=#{diId}
	</update>

	<!-- HUMITURE_HISTORY -->
	<select id="findIntervalTime" resultType="int">
		SELECT intervalTime
		FROM en_humiture_manage WHERE ehm_deviceAddress=#{ehmDeviceAddress}
		AND di_id=#{diId}
	</select>
	<insert id="saveHumitureHistory">
		INSERT INTO en_humiture_history
		(ehh_tem,ehh_hum,ehh_time,ehm_deviceAddress,di_id) VALUES
		(#{ehhTem},#{ehhHum},NOW(),#{ehmDeviceAddress},#{diId})
	</insert>

	<!-- HUMITURE_ALARM -->
	<select id="findHumitureAlarmAll" resultType="com.lain.entity.HumitureAlarm">
		SELECT * FROM en_humiture_alarm
	</select>
</mapper>