<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//Mybatis.org//DTD Mapper 3.0//EN" 
	"http://Mybatis.org/dtd/Mybatis-3-mapper.dtd">
<mapper namespace="com.lain.dao.Ktr8052Mapper">
	<select id="findKtr8052Address" resultType="int">
		SELECT address FROM ktr8052_manage WHERE di_id = #{diId}
	</select>
	<update id="updataKtr8052Galery">
		UPDATE ktr8052_manage SET status=#{status} WHERE gallery=#{gallery} AND address=#{address} AND di_id=#{diId}
	</update> 
	<select id = "getKtr8052" resultType="com.lain.entity.Ktr8052">
		select id,name,address,gallery,status,k_id,di_id from ktr8052_manage where k_id=#{k_id}
	</select>
	<select id="findKtr8052All" resultType="com.lain.entity.Ktr8052">
		select a.id,a.name,a.address,a.gallery,a.status,b.di_address,b.di_port,b.di_isConnect,b.di_operate,c.k_name,b.g_id
		from ktr8052_manage a,device_ip b,ktr8052_device c,device d
		where
		d.d_id = #{d_id} 
		and a.k_id = c.k_id and
		a.di_id = b.di_id
	</select>
	
	<insert id="insertAlarm">
		insert into ktr8052_alarm(name,time,gallery) values(#{name},#{time},#{gallery})
	</insert>
	
	<select id="findKtr8052Alarm" resultType="com.lain.entity.Ktr8052Alarm">
		select * from ktr8052_alarm
	</select>
	
	<select id="selectKtr8052Name" resultType="String">
		select name from ktr8052_manage where gallery = #{gallery}
	</select>
	
	<select id="getKtr8052Status" resultType="com.lain.entity.Ktr8052Pojo.Ktr8052StatusPojo">
		select id,status from ktr8052_manage where k_id=#{k_id}
	</select>
</mapper>