<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//Mybatis.org//DTD Mapper 3.0//EN" 
	"http://Mybatis.org/dtd/Mybatis-3-mapper.dtd">
<mapper namespace="com.lain.dao.LogMapper">
	<insert id="insertLog" parameterType="com.lain.entity.Log" useGeneratedKeys="true">
		INSERT INTO log(log_type,content,u_id,gen_time) value (#{logType},#{content},#{uId},now())
	</insert>
	<select id="findLogBydate" resultType="com.lain.entity.Log">
		SELECT * FROM log<!-- ,user -->
		<!-- where log.u_id = user.u_id -->
		<if test="startTime!=null or endTime!=null">
			where gen_time 
			<if test="startTime!=null and endTime!=null">
				BETWEEN #{startTime} AND #{endTime}
			</if>
			<if test="startTime!=null and endTime==null">
				 &gt; #{startTime}
			</if>
			<if test="startTime==null and endTime!=null">
				&lt; #{endTime}
			</if>
		</if>
	</select>
</mapper>